[submodule "themes/--force"]
	path = themes/--force
	url = https://github.com/themefisher/liva-hugo.git
[submodule "themes/liva-hugo"]
	path = themes/liva-hugo
	url = https://github.com/themefisher/liva-hugo.git
