@import '_variables';

a.navbar-brand svg {
  height: 100%;
  width: 100%;
}

.callout {
  float: right;
  clear: right;

  background: #efefef;
  padding: 1.0em;
  margin: 1.0em;
  max-width: 200px;
  border-radius: 0.5em;

  .callout-heading span {
    border-radius: 50%;
    background-color: darken($primary-color, 30%);
    color: white;
    display: inline-block;
    margin-right: 0.5em;
    width: 1.5em;
    height: 1.5em;

  }

}
